@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {

}
html {
  scroll-behavior: smooth;
}

body {}

/* consoleText */
.hidden-consoleText {
  opacity:0;
}
.console-container {
 
  /* font-family:Khula; */
  /* font-size:3em; */
  /* text-align:center; */
  /* height:200px; */
  width:100%;
  /* display:block; */
  /* position:absolute; */
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.gradient-text {
  background-image: linear-gradient(45deg, #fc5c7d, #6a82fb, #fc5c7d);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari and Chrome */
  color: transparent;
}

/* consoleText */


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
